body {
    background-color: gray;
    margin: 0px;
    user-select: none;
}
div#tomiOptions {
    display: none;
}
div p {
    margin: 3px;
}
div.break {
    height: 30px;
}
div * {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
input[type="color"] {
    width: 200px;
}
input[type="file"] {
    display: none;
}
input.idBox {
    width: 660px;
}
input#slim {
    width: 194px;
}
input#animate {
    width: 14px;
}
div.center {
    text-align: center;
}
canvas[data-canvas] {
    display:none;
    /* width: 1000px; */
    float:left;
    height: 100%;
    image-rendering: pixelated;
}
img {
    image-rendering: pixelated;
    display: none;
}
br {
    line-height: 10px;
}